language: objective-c
osx_image: xcode7.3
env:
  global:
    - LC_CTYPE=en_US.UTF-8
    - LANG=en_US.UTF-8
    - PROJECT=QuotzzyKit.xcodeproj
    - MACOS_FRAMEWORK_SCHEME="QuotzzyKit macOS"
    - IOS_FRAMEWORK_SCHEME="QuotzzyKit iOS"
    - WATCHOS_FRAMEWORK_SCHEME="QuotzzyKit watchOS"
    - TVOS_FRAMEWORK_SCHEME="QuotzzyKit tvOS"
    - MACOS_SDK=macosx10.11
    - IOS_SDK=iphonesimulator9.3
    - WATCHOS_SDK=watchsimulator2.2
    - TVOS_SDK=appletvsimulator9.2
  matrix:
    - DESTINATION="arch=x86_64" SCHEME="$MACOS_FRAMEWORK_SCHEME" SDK="$MACOS_SDK" RUN_TESTS="YES"
    - DESTINATION="OS=9.3, name=iPhone 6s" SCHEME="$IOS_FRAMEWORK_SCHEME" SDK="$IOS_SDK" RUN_TESTS="YES"
    - DESTINATION="OS=9.2, name=Apple TV 1080p" SCHEME="$TVOS_FRAMEWORK_SCHEME" SDK="$TVOS_SDK" RUN_TESTS="YES"
script:
  - set -o pipefail
  - xcodebuild -version
  - xcodebuild -showsdks
  - if [$RUN_TESTS == "YES"]; then
      xcodebuild test -project "$PROJECT" -scheme "$SCHEME" -sdk "$SDK" -destination "$DESTINATION"
    fi
after_success:
  - bash <(curl -s https://codecov.io/bash)
