language: objective-c
osx_image: xcode7.3
xcode_project: QuotzzyKit.xcodeproj
xcode_scheme: QuotzzyKit-iOS
xcode_sdk: iphonesimulator9.3
script:
  - xcodebuild test -project QuotzzyKit.xcodeproj -scheme QuotzzyKit-iOS -destination "platform=iOS Simulator,name=iPhone 6s,OS=9.3"
after_success:
  - bash <(curl -s https://codecov.io/bash)
  